*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
}
/* palette colori */
:root{
    --color-header: #ff6900;
    --color-footer: #1a1a1a;
    --color-discount: #ff0000;
    --color-green: #008000;
    --color-text-white: #ffffff;
}

/* utilty */
.debug{
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin: o auto;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.img-size{
    width: 100%;
}

.box-size{
    width: calc(100% / 3);
    margin: 0 auto;
}

/* ------------------------- header ------------------- */

.flex-nav{
    justify-content: space-between;
    align-items: center;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-header);
    width: 100%;
    min-height: 70px;
}
ul li{
    padding: 0 10px;
    color: var(--color-text-white);
}
.utility-bar{
    padding: 0 10px;
}
.text-right{
    justify-content: flex-end;
    color: var(--color-text-white);
}
#logo{
    width: 30%;
}
.container-logo{
    justify-content: center;
    min-width: 300px;
}

/* ------------------------------ main ----------------------------------- */
main{
    margin-top: 70px;
}
.card{
    width: calc(100% / 3);
    position: relative;
}
.img{
    display: inline-block;
}
.card-container{
    padding: 10px;
}

.brand{
    font-size: 0.7em;
}
.text-red{
    color: var(--color-discount);
    font-size: 0.6em;
}

.text-line-through{
    text-decoration: line-through;
    font-size: 0.6em;
}

.position-absolute{
    position: absolute;
    bottom: 100px;
}

.bg-discount{
    background-color: var(--color-discount);
    border-radius: 20px;
    font-size: 0.6em;
    padding: 3px;
    color: var(--color-text-white);
}

.bg-green{
    background-color: var(--color-green);
    margin-left: 10px;
    border-radius: 20px;
    font-size: 0.6em;
    padding: 3px;
    color: var(--color-text-white);
}
.heart{
    width: 40px;
    height: 40px;
    background-color: var(--color-text-white);
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    line-height: 40px;
}