*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}
/* palette colori */
:root{
    --color-header: #ff6900;
    --color-footer: #1a1a1a;
    --color-discount: #ff0000;
    --color-green: #008000;
    --color-text-white: #ffffff;
}

/* utilty */
.debug{
    /* border: 1px solid black; */
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.img-size{
    width: 100%;
}

.box-size{
    margin: 0 auto;
}

/* ------------------------- header ------------------- */

.nav{
    background-color: var(--color-header);
    height: 70px;
}
.flex-nav{
    align-items: center;
}

.bg-header{
    position: fixed;
    background-color: var(--color-header);
    box-shadow: 0 0 5px var(--color-footer);
    width: 100%;
    min-height: 70px;
    z-index: 1000;
}
a{
    padding: 0 10px;
    color: var(--color-text-white);
    font-size: 1em;
    color: var(--color-text-white);
}
.utility-bar{
    padding: 0 10px;
}
.text-right{
    justify-content: flex-end;
    color: var(--color-text-white);
}
#logo{
    width: 30%;
    cursor: pointer;
}
.container-logo{
    justify-content: center;
    min-width: 300px;
}
i{
    cursor: pointer;
}

/* ------------------------------ main ----------------------------------- */
h2{
    width: 100%;
    font-size: 0.9em;
}
.card{
    width: calc(100% / 3);
    position: relative;
    min-width: 390px;
    padding: 10px;
}

.card-container{
    padding: 10px 10px 50px 10px;
    justify-content: center;
    padding-top: 140px;
}

.brand{
    font-size: 0.7em;
}
.text-red{
    color: var(--color-discount);
    font-size: 0.6em;
}

.text-line-through{
    text-decoration: line-through;
    font-size: 0.6em;
}

.position-absolute{
    position: absolute;
    bottom: 100px;
}

.bg-discount{
    background-color: var(--color-discount);
    border-radius: 20px;
    font-size: 0.6em;
    padding: 3px;
    color: var(--color-text-white);
}

.bg-green{
    background-color: var(--color-green);
    margin-left: 10px;
    border-radius: 20px;
    font-size: 0.6em;
    padding: 3px;
    color: var(--color-text-white);
}
.heart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-text-white);
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.heart:hover{
    color: var(--color-discount);
}
.img-change{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.card:hover .img-change{
    display: block;
}
img{
    cursor: pointer;
}
/* ------------------------ footer ------------------------- */
footer{
    background-color: var(--color-footer);
    color: var(--color-text-white);
}
h1{
    padding-top: 20px;
}
footer li{
    padding: 20px 15px 40px 0;
}

.social{
    padding-top: 20px;
}

.footer-container{
    padding: 10px;
    justify-content: space-between;
}
footer a{
    color: var(--color-text-white);
    font-size: 0.5em;
    padding: 0;
}